body {
  margin: 45px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.Title {
  background-color: green;
  text-align: center;
  font-size: 50px;
  color: white;
  font-weight: 900;
}

body {
  background-color: #d4fcfc;
}

.GlobalDiv {
  display: flex;
  justify-content: center;
}

#box {
  margin-left: 50px;
}


