.MinimunLength {
  color: red;
  text-align: center;
  margin-top: -12px;
  margin-bottom: 12px;
}

.MinimunLengthTarea {
  color: red;
  text-align: center;
  margin-top: -12px;
  margin-bottom: 12px;
}

.input {
  border: 2px solid;
  border-radius: 10px 10px;
  height: 40px;
  width: 300px;
  text-align: center;
  margin-top: 20px;
}

.crear {
  margin-left: 3px;
  border-radius: 10px 10px;
  width: 70px;
  height: 38px;
  background: blue;
  color: white;
 cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0 5px #999;
}
