.agregar {
  margin-left: 5px;
  border-radius: 10px 10px;
  width: 60px;
  height: 35px;
  background: blue;
  color: white;
  margin-bottom: 12px;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0 5px #999;
}
.actualizar {
  border-radius: 10px 10px;
  width: 75px;
  height: 38px;
  background: green;
  color: white;
  font-weight: 500;
  margin-left: 2px;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0 5px #999;
}
